html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background-color: hsl(185, 75%, 39%);
  background-image: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: right 50vw bottom 50vh, left 50vw top 50vh;
}

.card{
  max-height: 450px;
}
.card-header {
  width: 100%;
  display: block;
  padding: 0;
}
.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 220px;
  border-bottom: 1px solid rgba(153, 153, 153, 0.383);
}
.card-body-img {
  border: 5px solid white;
  border-radius: 50%;
  margin-top: calc(-48px - 5px);
  background-color: white;
  max-width: 65%;
}

.card-body-title {
  margin-top: 2rem;
  font-size: 1.8rem;
}

.card-body-title span {
  font-weight: 400px;
}

.card-body-text {
  font-size: 1.6rem;
  margin-top: 0;
  margin-bottom: 2rem;
}

.card-footer {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}

.card-footer-social {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card-footer-social p {
  letter-spacing: 1px;
}